@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* navbar section ////////////////////////////////////////////////////////////////////////////////////////////*/

.navbar{
  position: absolute;
  top: 1%;
  left: 5%; 
  justify-content: center; 
  z-index: 10;
}

nav {
  background-color: #fceded;
  padding: 20px;
  width: 80px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
  overflow-x: hidden;
}

nav.active {
  width: 350px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.icon {
  background-color:#fceded;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}


/* image section //////////////////////////////////////////////////////////////////////////////////*/

.bottom-section{
  position: absolute;
  top: 80%;
  left: 5%; 
  justify-content: center;
  height: 150px;
}

.input-container{
  width: 100%;
  max-width: 600px;
  position: absolute;
}

input{
  width: 350px;
  border: none;
  background-color: #fceded;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  box-sizing: border-box;
}
#submit-icon{
  position: absolute;
  top: 10px;
  left: 320px;
  right: 20px; 
  cursor: pointer;
  z-index: 2  ;
}

.images-section{
  /* position: relative;
  bottom: 1100px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 10px; */

  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  z-index: 3;
}

.image-container{
  /* position: relative;
  top: 150px;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  margin-left: 5px;
  margin-right: 5px; */

  width: 48%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  z-index: 4;
}

.image-container img{
  width: 100%;

}

.img{
  position: absolute;
  top: 6%;
  left: 50%; 
  justify-content: center; 
}


